<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin</title>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{'/admin/logout'}" th:text="logout"></a>
        <hr />
    </div>

    <div sec:authorize="isAnonymous()">
        <a th:href="@{'/admin/login'}" th:text="login"></a>
        <hr />
    </div>
    <h1>Admin</h1>
    <hr />
    <a href="/admin/student/list">list</a>
</body>
</html>