<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin Student List</title>
    <script>
        function fnRegisterForm() {
            location.href = "/admin/student/register";
        }
    </script>
    <style>
        table {
            text-align: center;
        }
    </style>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{'/admin/logout'}" th:text="logout"></a>
        <hr />
    </div>

    <div sec:authorize="isAnonymous()">
        <a th:href="@{'/admin/login'}" th:text="login"></a>
        <hr />
    </div>

    <h1>Admin Student List</h1>
    <hr />

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${studentList}">
                <td th:text="${student.id}"></td>
                <td><a th:href="@{'/admin/student/detail/'+${student.id}}" th:text="${student.name}"></a></td>
                <td th:text="${student.grade}"></td>
                <td th:text="${student.age}"></td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button onclick="fnRegisterForm()">등록</button>

</body>
</html>