<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>User Join</title>
    <script>
        function fnSubmit() {
            var form = document.getElementById("userForm");
            if(form.password.value != form.password_confirm.value){
                alert('두 비밀번호가 일치하지 않습니다.');
                return false;
            }
            form.submit();
        }

        function fnList() {
            location.href = "/student/list";
        }
    </script>
    <style>
        table {
            text-align: center;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>User Join</h1>
    <hr />

    <form id="userForm" role="form" th:action="@{'/user/join'}" th:method="post">
        <table>
            <tbody>
                <tr>
                    <th>이메일: </th>
                    <td><input type="text" th:name="email" th:id="email" value="test@gmail.com"/></td>
                </tr>
                <tr>
                    <th>비밀번호: </th>
                    <td><input type="password" th:name="password" th:id="password" value="1234" /></td>
                </tr>
                <tr>
                    <th>비밀번호 확인: </th>
                    <td><input type="password" th:name="password_confirm" th:id="password_confirm" value="1234" /></td>
                </tr>
                <tr>
                    <th>이름: </th>
                    <td><input type="text" th:name="name" th:id="name" value="테스터" /></td>
                </tr>
                <tr>
                    <th>권한: </th>
                    <td>
                        <select class="select" th:name="authorities" th:id="authorities">
                            <option th:each="role : ${roles}" th:value="${role.code}" th:text="${role.name}"></option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <hr />

    <button onclick="fnSubmit()">완료</button>
    <button onclick="fnList()">취소</button>

</body>
</html>