<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Student View</title>
    <script>
        function f_modify() {
            location.href = "/student/modify/1";
        }
        function f_delete() {
            location.href = "/student/delete/1";
        }
        function f_list() {
            location.href = "/student/list";
        }
    </script>
    <style>
        table {
            text-align: center;
        }
    </style>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{'/logout'}" th:text="logout"></a>
        <hr />
    </div>

    <div sec:authorize="isAnonymous()">
        <a th:href="@{'/login'}" th:text="login"></a>
        <hr />
    </div>

    <h1>Student View</h1>
    <hr />

    <table>
        <tbody>
            <tr>
                <th>Seq : </th>
                <td th:text="${studentDto.seq}"></td>
            </tr>
            <tr>
                <th>Name : </th>
                <td th:text="${studentDto.name}"></td>
            </tr>
            <tr>
                <th>Grade : </th>
                <td th:text="${studentDto.grade}"></td>
            </tr>
            <tr>
                <th>Age : </th>
                <td th:text="${studentDto.age}"></td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button onclick="f_modify()">수정</button>
    <button onclick="f_delete()">삭제</button>
    <button onclick="f_list()">목록</button>
</body>
</html>