<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>
    <!--
        정보 조회
        <sec:authentication property="principal"/>

        권한 체크
        <sec:authorize access="hasRole(['USER'])">
            <a href="${CONTEXT }/j_spring_security_logout">로그아웃</a>
        </sec:authorize>

        Option
        - principal : 현재 사용자를 나타내는 기본 개체에 직접 액세스할 수 있음
        - authentication : SecurityContext에서 가져온 현재 인증 개체에 직접 액세스할 수 있도록 허용
        - permitAll : 항상 true로 평가
        - denyAll : 항상 falase로 평가

        - hasRole([role]) : 현재 주체에게 지정된 역할이 있는 경우 true를 반환한다.
        - hasAnyRole([role1,role2]): 현재 주체에 제공된 역할이 있는 경우 true 반환(쉼표로 구분된 문자열 목록으로 제공)
        - isAnonymous() : 현재 주체가 익명 사용자인 경우 true 반환
        - isRememberMe() : 현재 주체가 remember-me 사용자인 경우 true 반환
        - isAuthenticated() : 사용자가 익명이 아니다 true를 반환합니다.
        - isFullyAuthenticated() : 사용자가 익명 또는 remeber-me 사용자가 아닌 경우 true 반환

        Example
        - <div sec:authorize="isAnonymous()"><span>isAnonymous</span></div>
        - <div sec:authorize="isRememberMe()"><span>isRememberMe</span></div>
        - <div sec:authorize="isAuthenticated()"><span>isAuthenticated</span></div>
        - <div sec:authorize="isFullyAuthenticated()"><span>isFullyAuthenticated</span></div>
        - <div sec:authorize="hasRole('USER')"><span>hasRole('USER')</span></div>
        - <div sec:authorize="hasRole('ROLE_ADMIN')"><span>hasRole('ROLE_ADMIN')</span></div>
        - <div sec:authorize="hasAnyRole('USER', 'ADMIN')"><span>hasAnyRole('USER', 'ADMIN')</span></div>
        - <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
            Logged in user: <span sec:authentication="name"></span> |
            Roles: <span sec:authentication="principal.authorities"></span>
            <div>
                <a th:href="@{'/logout'}" th:text="logout"></a>
            </div>
          </div>
    -->
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{'/logout'}" th:text="logout"></a>
        <a th:href="@{'/member/info'}" th:text="info"></a>
        <hr />
    </div>

    <div sec:authorize="isAnonymous()">
        <a th:href="@{'/login'}" th:text="login"></a>
        <a th:href="@{'/member/join'}" th:text="join"></a>
        <hr />
    </div>

    <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
        <span sec:authentication="principal.authorities"></span>
        <!--<sec:authentication var="principal" property="principal" />
        <sec:authentication var="username" property="principal.username" />
        <sec:authentication var="identity" property="principal.identity" />
        <sec:authentication var="password" property="principal.password" />
        <sec:authentication var="name" property="principal.name" />
        <sec:authentication var="email" property="principal.email" />
        <sec:authentication var="branch" property="principal.branch" />-->
    </div>

    <h1>Main</h1>
    <p>
        He is back
    </p>
    <a th:text="Student_List" th:href="@{/student/list}"></a>
</body>
</html>