<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>
        welcome
    </p>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{'/user/logout'}" th:text="logout"></a>
        <hr />
    </div>

    <div sec:authorize="isAnonymous()">
        <a th:href="@{'/user/login'}" th:text="login"></a>
        <a th:href="@{'/user/join'}" th:text="join"></a>
        <hr />
    </div>
</body>
</html>